.component {
    width: 15%;
    margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
    .component {
        width: 20%;
    }
}

@media screen and (max-width: 1020px) {
    .component {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .component {
        width: 45%;
    }
}

@media screen and (max-width: 470px) {
    .component {
        width: 100%;
    }
}