.container {
    display: flex;
}

.carousel {
    margin: auto;
}

.buyContainer {
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    width: 400px;
    height: 500px;
}

.title {
    padding: 20px;
    font-size: 25px;
    position: relative;
}

.priceBox {
    padding-top: 20px;
    padding-left: 50px;
}

.lowPrice {
    padding-right: 15px;
}