.links {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #94a3b8;
}

.loginButton {
    color: #0f172a;
    font-weight: bold;
}

.menuButton,
.mobileLinks {
    display: none;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }

    .menuButton {
        display: block;
        cursor: pointer;
    }

    .mobileLinks {
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #030712;
    }
}