.container {
    justify-content: center;
    text-align: center;
}

.componentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.search {
    flex: 1;
    position: relative;
    margin-bottom: 40px;
}

.component {
    width: 15%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;

}

@media screen and (max-width: 1280px) {
    .component {
        width: 45%;
    }

}

@media screen and (max-width: 768px) {
    .component {
        width: 100%;
    }

}