.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top {
    display: flex;
}

.imgContainer {
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
}

.img {
    object-fit: cover;
}

.title {
    width: 200px;
    font-size: 20px;
    margin-bottom: 10px;
}

.price {
    width: 200px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #64748b;
}