.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    width: 200px;
    height: 200px;
    justify-content: center;
}

.imgContainer {
    width: 150px;
    height: 150px;
    position: relative;
}

.img {
    object-fit: cover;
}

.title {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}