.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
}

.search {
    flex: 1;
    position: relative;
    margin-left: 350px;
    margin-bottom: 40px;
}

.component {
    width: 30%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
    .component {
        width: 30%;
    }

}

@media screen and (max-width: 768px) {
    .component {
        width: 100%;
    }

}