.searchForm {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
}

.searchInput {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}

.searchButton {
    padding: 8px 16px;
    border: none;
}


@media screen and (max-width: 768px) {
    .searchForm {
        margin: 10px;
    }
}